####################################
### AIQA CI SCRIPTS - START
###
### https://aiqa.tech
### (c)2019 AIQA Technologies
###
### ver. 0.1.54

__ci_scenarios_list.txt
__ci_parallel.log
__ci_tmp_file.txt

_ci_vars_personal.sh

###
### AIQA CI SCRIPTS - STOP
####################################
